<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title">{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">首页</a></li>
            <li><a href="{{ site.baseurl }}/left-sidebar.html">php扩展</a></li>
            <li><a href="{{ site.baseurl }}/right-sidebar.html">BS-SPA </a></li>
            <li><a href="{{ site.baseurl }}/no-sidebar.html">SMES</a></li>
            <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
            {% for page in site.pages %}
            {% if page.title %}
            <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>